{% extends 'base.html.twig' %}
{% block title %}All articles{% endblock %}
{% block body %}
<h1>{{ owner }} s blog index</h1>
    {{ app.session.get('total') }}
    <h2>All articles from article s table : </h2>
    {% for article in articles %}
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>{{ article.content }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}