<table class="table">
    <tbody>
    <tr>
        <th>Tag</th>
        <td>{{ tag.name }}</td>
    </tr>
    {% for article in articles %}
        <tr>
            <th>Id</th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a></td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ article.content }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>