{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Article</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ article.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ article.content }}</td>
                </tr>
                <tr>
                    <th>Favoris</th>
                    <td>
                        <a onclick = "addToFavorite()">{{ isFavorite ? '<i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}</a>
                    </td>
                </tr>
                <tr>
                {% for tag in article.tags %}
                    <th><strong>Tags : </strong></th>
                    <td><a href="{{ path('tag', {'name':tag.name }) }}" >{{ tag.name }}</a> </td>
                {% else %}
                    <td>No tags for this article</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-success">
        <a href="{{ path('article_index') }}">back to list</a>
    </button>
        <button class="btn btn-outline-success">
            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        </button>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
    function addToFavorite() {
        fetch('{{ path('article_favorite', {'id': article.id}) }}')
            .then(response => response.json())
            .then(json => {
                let favoriteElt = document.getElementById('favorite');
                if (json.isFavorite) {
                    favoriteElt.classList.remove('far');
                    favoriteElt.classList.add('fas');
                }
                else {
                    favoriteElt.classList.remove('fas');
                    favoriteElt.classList.add('far');
                }
            });
    }
</script>
{% endblock %}
